extends layout

block content
  div
    //- - var rgbstart=#db8b00
    //- - var rgbend=#fcf7bd
    each val in presets
      div
        div
          a(href="/light/" + val.name)
            =val.name
        //- div
        //-   svg(width='600', height='160')
        //-     - var color = val.preset[2].level/100*rgbstart+(1-val.preset[2].level/100)*rgbend
        //-     rect(x='0', y='0', width='200', height='100', style='fill:=color;stroke-width:1;stroke:rgb(0,0,0)')
        //-     rect(x='200', y='0',width='200', height='50', style='fill:rgb(0,0,255);stroke-width:1;stroke:rgb(0,0,0)')
        //-     rect(x='200', y='50',width='200', height='50', style='fill:rgb(0,0,255);stroke-width:1;stroke:rgb(0,0,0)')
        //-     rect(x='200', y='100',width='200', height='40', style='fill:rgb(0,0,255);stroke-width:1;stroke:rgb(0,0,0)')
